**/*.log
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/.github/
docker-compose.yaml
docker-compose-*.yaml
.github/
.dockerignore
node_modules
.idea

# Ignore all secrets in /secrets
/secrets/*
# but do not ignore all files stating with _
!/secrets/_*
docker-compose*.yaml
.docusaurus